    <div class="footer-wrapper">
        <h2 class="footer-heading">Andi Crypt</h2>
        <div class="footer-col-wrapper">
            <div class="footer-col-footer-col-1">
                <ul class="contact-list">
                    <li>
                        <a href="mailto:{{ site.email | encode_email }}" title="email">
                            <span class="icon-icon--github"><i class="fas fa-envelope"></i></span>
                            <span class="username">dientran0901</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/{{ site.github_username }}" title="GitHub">
                            <span class="icon-icon--github"><i class="fab fa-github"></i></span>
                            <span class="username">andicrypt</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" title="LinkedIn">
                            <span class="icon-icon--github"><i class="fab fa-linkedin"></i></span>
                            <span class="username">anditran</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/{{ site.twitter_username }}" title="Twitter">
                            <span class="icon-icon--github"><i class="fab fa-twitter"></i></span>
                            <span class="username">andi2travel</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://instagram.com/{{ site.instagram_id }}" title="Instagram">
                            <span class="icon-icon--github"><i class="fab fa-instagram"></i></span>
                            <span class="username">adien.tran</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://facebook.com/{{ site.facebook_id }}" title="Facebook">
                            <span class="icon-icon--github"><i class="fab fa-facebook"></i></span>
                            <span class="username">andi2go</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        
           
        

    </div>
